<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>


<!DOCTYPE html>
<html>
  <head>
    <title>Czat</title>
    <!-- <style>
      body { margin: 0; padding-bottom: 3rem; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; }

      #form { background: rgba(0, 0, 0, 0.15); padding: 0.25rem; position: fixed; bottom: 0; left: 0; right: 0; display: flex; height: 3rem; box-sizing: border-box; backdrop-filter: blur(10px); }
      #input { border: none; padding: 0 1rem; flex-grow: 1; border-radius: 2rem; margin: 0.25rem; }
      #input:focus { outline: none; }
      #form > button { background: #333; border: none; padding: 0 1rem; margin: 0.25rem; border-radius: 3px; outline: none; color: #fff; }

      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages > li { padding: 0.5rem 1rem; }
      #messages > li:nth-child(odd) { background: #efefef; }
    </style> -->
    <style>
      body {
        padding: 5px;
      }
      #messages { list-style-type: none; margin: 0; padding: 0; flex-grow: 1; }
      #messages > li { padding: 0.5rem 1rem; }
      #messages > li:nth-child(odd) { background: #efefef; }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row" style="height: 100%;">
        <div class="col-sm-4">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#Groups">Groups</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#Contacts">Contacts</a>
            </li>
          </ul>
        </div>

        <div class="col-sm-8 d-flex border">
          <ul id="messages"></ul>
          <form class="container form-inline flex-grow-1 align-self-end" id="form" action="" style="position: absolute; bottom: 5px;">
            <input class="form-control flex-grow-1" id="input" type="text" autocomplete="off" style="margin-right: 5px;" />
            <button class="btn btn-primary" style="margin-right: 5px;">Send</button>
          </form>
          <script src="/socket.io/socket.io.js"></script>
            <script>
              var socket = io();

              var form = document.getElementById('form');
              var input = document.getElementById('input');

              form.addEventListener('submit', function(e) {
                e.preventDefault();
                if (input.value) {
                  socket.emit('chat message', input.value);
                  input.value = '';
                }
              });
              
              socket.on('chat message', function(msg) {
                var item = document.createElement('li');
                item.textContent = msg;
                messages.appendChild(item);
                window.scrollTo(0, document.body.scrollHeight);
              });
          </script>
        </div>
      </div>
    </div>
  </body>
</html>