<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<style>
  h1 {
    padding: 20px;
  }
  body {
    padding: 20px;

  }
  form {
    margin-right: 75%;
  }
</style>

<title>Czat - Register</title>

<h1 class="bg-dark text-light">Sign Up Form</h1> 

<nav class="navbar navbar-expand-sm bg-danger navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="/">Czat</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/register">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
  </ul>
</nav>
  
<p class="container-fluid">
  Please use this form to register.
  Username & Password must be at least 1 character each.
</p>

<form action="/register" method="POST" class="needs-validation"> 
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username">
  </div>
  <p></p>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password"> 
  </div>
  <p></p>
    <button type="submit" class="btn btn-primary">Submit</button> 
    <a href="/login" class="btn btn-success" role="button">Login</a>
</form> 
